<section class="content-header">
  <h1>
    Listagem de Medicametos
    <small>Consulte aqui seus medicamentos</small>
  </h1>
  <ol class="breadcrumb">
    <li><a [routerLink]="['']"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a [routerLink]="['../list-medicamento']">Medicamentos</a></li>
    <li class="active">Listagem de Medicamentos</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-12">
    <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Filtros</h3>
        </div>

        <div class="box-body">

            <div class="form-group">
                <label for="nomeFilter" class="col-sm-2 control-label">Nome</label>
                <div class="col-sm-10">
                  <input type="text" 
                          [(ngModel)]="nomeFilter"
                          name="nomeFilter" 
                          class="form-control" 
                          id="nomeFilter">
                </div>
            </div>
      </div>   

      <div class="box-footer">
          <button class="btn btn-info pull-left" (click)="limparFiltros()">Limpar Filtros</button>
          <button style="margin-left: 10px" class="btn btn-info pull-right" (click)="listarTodos()">Filtrar</button>
      </div>

      <div class="box-body">
        <table class="table table-bordered">
          <tr>
            <th>Nome</th>
            <th class="hidden-xs hidden-sm" >Membro</th>
            <th class="hidden-xs hidden-sm">Data</th>
            <th class="hidden-xs hidden-sm">Hora</th>
            <th class="hidden-xs hidden-sm">Dosagem</th>
            <th class="hidden-xs hidden-sm">Período</th>
            <th class="hidden-xs hidden-sm">Intervalo</th>
            <th style="width: 10px">&nbsp;</th>
            <th style="width: 10px">&nbsp;</th>
          </tr>
          <tr *ngFor="let medicamento of medicamentoList">
            <td>{{medicamento.nome}}</td>
            <td class="hidden-xs hidden-sm">{{medicamento.membro.nome}}</td>
            <td class="hidden-xs hidden-sm">{{medicamento.data | date: 'dd/MM/yyyy' }}</td>
            <td class="hidden-xs hidden-sm">{{medicamento.hora}}</td>
            <td class="hidden-xs hidden-sm">{{medicamento.dosagem}} {{medicamento.unidade}} </td>
            <td class="hidden-xs hidden-sm">{{medicamento.quantidadeDias}} dias</td>
            <td class="hidden-xs hidden-sm">De {{medicamento.intervalo}} em {{medicamento.intervalo}} </td>
            <td>
                <button class="btn btn-primary" (click)="edit(medicamento.id)">Editar</button>
            </td>
            <td>
                <button class="btn btn-danger" (click)="delete(medicamento.id)">Deletar</button>
            </td>
          </tr>
        </table>
      </div>
        
      </div>
    </div>
  </div>
</section>