<section class="content-header">
  <h1>
    Listagem de Consultas
    <small>Consulte aqui suas consultas</small>
  </h1>
  <ol class="breadcrumb">
    <li><a ><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a >Consultas</a></li>
    <li class="active">Listagem de Consultas</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-12">
    <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Filtros</h3>
        </div>

        <div class="box-body">
          <form>
            <div class="form-group">
                <label for="nomeFilter" class="col-sm-2 control-label">Pesquise</label>
                <div class="col-sm-10">
                  <input type="text" [(ngModel)]="componentProperty"  />
                </div>
            </div>
          </form>
      </div>   

      <div class="box-footer">
          <button class="btn btn-info pull-left" (click)="limparFiltros()">Limpar Filtros</button>
          <button style="margin-left: 10px" class="btn btn-info pull-right" (click)="listarComFiltro()">Filtrar</button>
      </div>

      <div class="box-body">
        <table class="table table-bordered">
          <tr>
            <th>Descrição</th>
            <th class="hidden-xs hidden-sm">Endereço</th>
            <th style="width: 10px">&nbsp;</th>
            <th style="width: 10px">&nbsp;</th>
          </tr>
          <tr *ngFor="let item of consultas">
            <td>{{item.descricao}}</td>
            <td class="hidden-xs hidden-sm">{{item.endereco}}</td>
            <td>
                <button class="btn btn-primary" (click)="edit(item.id)">Editar</button>
            </td>
            <td>
                <button class="btn btn-danger" (click)="delete(item.id)">Deletar</button>
            </td>
          </tr>
        </table>
      </div>

      <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right">
          <li><a href="" (click)="setPreviousPage($event)">&laquo;</a></li>
          <li *ngFor="let p of paginas; let i=index">
              <a [ngClass]="{'pagination-focus':i==pagina}"  href="" (click)="setPage(i,$event)">{{i+1}}</a>
          </li>
          <li><a href="" (click)="setNextPage($event)">&raquo;</a></li>
        </ul>
      </div>
        
      </div>
    </div>
  </div>
</section>