<section class="content-header">
  <h1>
    Listagem de Consultas
    <small>Veja aqui todos as suas consultas cadastradas</small>
  </h1>
  <ol class="breadcrumb">
    <li><a [routerLink]="['']"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a [routerLink]="['../list-consulta']">Consultas</a></li>
    <li class="active">Listagem de Consultas</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-12">
    <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Filtros</h3>
        </div>

        <div class="box-body">

          <div class="form-group">
            <label for="descricaoFilter" class="col-sm-2 control-label">Descrição da consulta</label>
            <div class="col-sm-10">
              <input 
              type="text" 
                [(ngModel)]="descricaoFilter"
                name="descricaoFilter" 
                class="form-control" 
                id="descricaoFilter">
            </div>
          </div>
      </div>   

      <div class="box-footer">
          <button class="btn btn-info pull-left" (click)="limparFiltros()">Limpar Filtros</button>
          <button style="margin-left: 10px" class="btn btn-info pull-right" (click)="listarComFiltro()">Filtrar</button>
      </div>

      <div class="box-body">
        <table class="table table-bordered">
          <tr>
            <th>Descrição da consulta</th>
            <th class="hidden-xs hidden-sm" >Membro</th>
            <th class="hidden-xs hidden-sm">Data</th>
            <th class="hidden-xs hidden-sm">Hora</th>
            <th class="hidden-xs hidden-sm">Profissional</th>
            <th class="hidden-xs hidden-sm">Endereço</th>
            <th style="width: 10px">&nbsp;</th>
            <th style="width: 10px">&nbsp;</th>
          </tr>
          <tr *ngFor="let consulta of consultaList">
            <td>{{consulta.descricao}}</td>
            <td class="hidden-xs hidden-sm">{{consulta.membro.nome}}</td>
            <td class="hidden-xs hidden-sm">{{consulta.data | date: 'dd/MM/yyyy' }}</td>
            <td class="hidden-xs hidden-sm">{{consulta.hora}}</td>
            <td class="hidden-xs hidden-sm">{{consulta.profissional.nome}}</td>
            <td class="hidden-xs hidden-sm">{{consulta.endereco}}</td>
            <td>
                <button class="btn btn-primary" (click)="edit(consulta.id)">Editar</button>
            </td>
            <td>
                <button class="btn btn-danger" (click)="delete(consulta.id)">Deletar</button>
            </td>
          </tr>
        </table>
      </div>

      <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right">
          <li><a href="" (click)="setPreviousPage($event)">&laquo;</a></li>
          <li *ngFor="let p of paginas; let i=index">
              <a [ngClass]="{'pagination-focus':i==pagina}"  href="" (click)="setPage(i,$event)">{{i+1}}</a>
          </li>
          <li><a href="" (click)="setNextPage($event)">&raquo;</a></li>
        </ul>
      </div>
        
      </div>
    </div>
  </div>
</section>